[mysqld]
# GENERAL
server_id                       = {{ mysql_server_id | default(1000 | random(seed=inventory_hostname)) }} # Important for logical replication, not Galera wsrep
datadir                         = {{ mysql_datadir }}
socket                          = {{ mysql_socket }}
pid_file                        = {{ mysql_pid }}
user                            = {{ mysql_user }}
port                            = {{ mysql_port }}
max_connections                 = {{ mysql_max_connections }}
max_connect_errors              = {{ mysql_max_connect_errors }}
open_files_limit                = {{ mysql_open_files_limit }}
tmp_table_size                  = {{ mysql_tmp_table_size }}
max_heap_table_size             = {{ mysql_max_heap_table_size }}
skip_name_resolve

# LOGGING
log_bin                         = {{ mysql_log_bin }}
binlog_format                   = {{ mysql_binlog_format }}
sync_binlog                     = {{ mysql_sync_binlog }}
log_error                       = {{ mysql_log_error }}

# INNODB
default_storage_engine          = {{ mysql_default_storage_engine }}
innodb_buffer_pool_size         = {{ mysql_innodb_buffer_pool_size }}
innodb_buffer_pool_instances    = {{ mysql_innodb_buffer_pool_instances }}
innodb_log_file_size            = {{ mysql_innodb_log_file_size }}
innodb_log_files_in_group       = {{ mysql_innodb_log_files_in_group }}
innodb_log_buffer_size          = {{ mysql_innodb_log_buffer_size }}
innodb_flush_log_at_trx_commit  = {{ mysql_innodb_flush_log_at_trx_commit }}
innodb_flush_method             = {{ mysql_innodb_flush_method }}
innodb_flush_neighbors          = {{ mysql_innodb_flush_neighbors }}
innodb_file_per_table           = {{ mysql_innodb_file_per_table }}
innodb_autoinc_lock_mode        = {{ mysql_innodb_autoinc_lock_mode }}

# GALERA
wsrep_cluster_name              = {{ wsrep_cluster_name }}
wsrep_provider                  = {{ wsrep_provider }}
wsrep_slave_threads             = {{ wsrep_slave_threads | default(ansible_processor_vcpus * 4) }}
wsrep_auto_increment_control    = {{ wsrep_auto_increment_control }}
wsrep_cluster_address           = gcomm://{{ pxc_host_addresses | join(',') }}
wsrep_node_address              = {{ ansible_eth0.ipv4.address }}
wsrep_node_name                 = {{ ansible_hostname }}
wsrep_sst_method                = {{ wsrep_sst_method }}
wsrep_log_conflicts
{% if mysql_custom_config %}
# CUSTOM CONFIG
{% for k, v in mysql_custom_config.items() %}
{{ k }} = {{ v }}
{% endfor %}
{% endif %}

# PXC
pxc_strict_mode                 = {{ pxc_strict_mode }}
pxc_encrypt_cluster_traffic     = {{ pxc_encrypt_cluster_traffic }}

[sst]
joiner_timeout                  = {{ sst_joiner_timeout }}
sst_progress                    = {{ sst_progress }}

